.reveal {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.reveal.ng-enter {
  opacity: 0;
}
.reveal.ng-enter.ng-enter-active {
  opacity: 1;
}
.reveal.ng-leave {
  opacity: 1;
}
.reveal.ng-leave.ng-leave-active {
  opacity: 0;
}

.endpoint-list .endpoint-list-header md-toolbar {
  padding: 0.2em 10px;
}
.endpoint-list .endpoint-list-header md-button {
  padding: 0.4em 1em;
  margin: 0.4em;
  font-size: 0.8em;
}
.endpoint-list md-list md-item-content .controls {
  padding-right: 10px;
}
.endpoint-list md-list md-item-content md-icon {
  width: 24px;
  height: 24px;
}
.endpoint-list md-list md-item-content:hover {
  background: #eee;
  cursor: pointer;
}

.entity-list .entity-list-header md-toolbar {
  padding: 0.2em 10px;
}
.entity-list .entity-list-header md-button {
  padding: 0.4em 1em;
  margin: 0.4em;
  font-size: 0.8em;
}
.entity-list table {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;
  border-spacing: 0;
}
.entity-list table thead th {
  border-bottom: 2px solid #eee;
}
.entity-list table th {
  padding: 6px 8px;
}
.entity-list table td {
  padding: 8px 4px 10px 8px;
  font-size: 0.9em;
}
.entity-list table th {
  text-align: left;
}
.entity-list table td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.entity-list table td input {
  width: 100%;
  line-height: inherit;
  padding: 0;
  border: none;
  background: transparent;
}
.entity-list table tbody tr:hover {
  background-color: #eef;
}
.entity-list table th.actions,
.entity-list table td.actions {
  width: 60px;
  padding: 6px 5px 0 5px;
}
.entity-list table td.actions:hover {
  background-color: transparent;
}
.entity-list table td.actions img:hover {
  background: #fff;
  border-radius: 3px;
}
.entity-list #entity-table-body {
  overflow-y: auto;
}

body {
  background: #fffdff;
  overflow: hidden;
}
.menu-icon {
  background-color: transparent;
  border: none;
}
.global-progress md-progress-linear {
  position: absolute;
}
.global-progress md-progress-linear .md-container {
  top: 0px;
  z-index: 10;
}

.menu-item {
  background-color: #fff;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.2s linear;
  -webkit-transition-property: max-height, background-color;
  -moz-transition: 0.2s linear;
  -moz-transition-property: max-height, background-color;
  transition: 0.2s linear;
  transition-property: max-height, background-color;
}
.menu-item.ng-hide {
  max-height: 0;
}
.menu-item:hover,
.menu-item:focus {
  color: #999;
}
.menu-item.menu-sub-item.active {
  background-color: #eee;
  font-weight: bold;
  color: #4285f4;
}
.menu-item.menu-title {
  color: #888;
  font-size: 16px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
}
.menu-item.menu-title.active {
  font-weight: bold;
}
.menu-item.menu-title:hover,
.menu-item.menu-title:focus {
  color: #aaa;
}

.schema-form {
  padding: 0 1em 1em 1em;
}
.schema-form legend {
  font-size: 120%;
}
.schema-form .md-input-focused input {
  border-color: #ee008b;
  color: #2f2f2f;
}
.schema-form .md-input-focused label {
  color: #ee008b;
}
.schema-form schema-input {
  display: block;
}
.schema-form schema-input .short input {
  width: 10em;
}
.schema-form schema-input .long input {
  width: 30em;
}
.schema-form schema-input .xlong input {
  width: 40em;
}
.schema-form md-input-group.short input[type='text'] {
  width: 100px;
}
.schema-form md-input-group.long input[type='text'] {
  width: 300px;
}
.schema-form md-input-group.x-long input[type='text'] {
  width: 400px;
}
.schema-form span.error {
  color: #900;
  font-size: 75%;
  display: block;
  position: absolute;
  padding: 0 0 0.4em 0;
}
.schema-form-controls {
  padding: 1.4em 0 0 0;
}
.schema-form-controls md-button {
  padding: 0.4em 0.6em;
  margin-right: 0.4em;
}

.side-content {
  z-index: 10;
  position: absolute;
  background: #fff;
  top: 0px;
  right: 0px;
  transition: 0.1s linear right;
  max-width: 600px;
}
.side-content.ng-enter {
  right: -600px;
}
.side-content.ng-leave {
  right: 0px;
}
.side-content.ng-leave-active {
  right: -600px;
}

.error-toast {
  background-color: #900;
}
.error-toast .message {
  padding: 0 24px 0 0;
}
