material-toolbar
  .material-toolbar-tools
    h2(ng-bind='title|translate')

material-content
  form.schema-form(ng-submit='submit()')
    schema-input(ng-repeat='(key,spec) in schema.properties')

material-toolbar
  .material-toolbar-tools.schema-form-controls(layout='horizontal' layout-align='center')
    section
      material-button.material-button-raised.material-button-colored(ng-bind='"Submit"|translate' ng-click='submit()')
      material-button.material-button-raised(ng-bind='"Cancel"|translate' ng-click='cancel()')

