md-toolbar
  .md-toolbar-tools
    h2(ng-bind='title|translate')

md-content
  form.schema-form(ng-submit='submit()')
    schema-input(ng-repeat='(key,spec) in schema.properties')

md-toolbar
  .md-toolbar-tools.schema-form-controls(layout='horizontal' layout-align='center')
    section
      md-button.md-button-raised.md-button-colored(ng-bind='"Submit"|translate' ng-click='submit()')
      md-button.md-button-raised(ng-bind='"Cancel"|translate' ng-click='cancel()')

