md-input-container(id='sf-{{::schema.path}}')
  md-checkbox(ng-repeat='key in schema.items.enum'
    ng-true-value="'{{::key}}'"
    ng-model='entity[schema.path][$index]'
    ) {{::key|translate}}
  span.error(ng-bind='errors[schema.path]')
