md-input-group(ng-if="::schema.display!='none'")
  label(for='sf-{{::schema.path}}' ng-bind='::schema.key|translate' style="margin-bottom: 30px")
  div(ng-controller='TagCtrl')
    tags-input(ng-model='entity[schema.path]' placeholder='{{::schema.path|translate}}' add-from-autocomplete-only='{{::schema.addFromAutocompleteOnly}}' tag-uri='{{::schema.tagUri}}' max-tags="{{::schema.maxTags}}" min-length="{{::schema.minLength}}" )
      auto-complete(source='loadTags($query)' min-length='0' debounce-delay='0' max-results-to-show='10')
