md-input-container(id='sf-{{::schema.path}}' ng-if="::schema.display!='none'")
  span {{::schema.key|translate}}
  md-radio-group(ng-model='entity[schema.path]' layout='row' layout-align='start center')
    md-radio-button(ng-repeat='key in schema.enum' value='{{::key}}') {{::key|translate}}
  span.error(ng-bind='errors[schema.path]')
