md-input-group(id='sf-{{::schema.path}}')
  md-checkbox(ng-repeat='key in schema.titlemap'
    ng-true-value="'{{key.value}}'"
    ng-model='entity[schema.path][$index]'
    ) {{::key.name|translate}}
  span.error(ng-bind='errors[schema.path]')
