td(ng-style='field.style' ng-click='edit()')
  div.saving.reveal(ng-if='saving')
    .indicator.spinner
      .icon.icon-navigation-refresh
  div.error(ng-if='error')
    .error-content
      .icon.icon-alert-error(title='{{error.message}}')
  span(ng-if='!editing') {{ row[field.id]|viewfilter:field.type:field.format }}
  input(type='text' ng-model='row[field.id]' ng-if='editing' ng-blur='blur()')
