th(ng-style='field.style' ng-blur='blur')
  span(ng-bind='field.id|translate')
  .icon-box(ng-if='field.filter')
    span.icon.icon-navigation-expand-more(ng-click='open()' ng-if=' opening === "" ')
    span.icon.icon-navigation-expand-less(ng-click='close()' ng-if=' opening !== "" ')

  .md-whiteframe-z1.filter-box(ng-class='opening')
    p filter
    md-radio-group(ng-model='filter_q[field.id]' ng-change='filter()')
      md-radio-button(ng-repeat='item in field.filter.items' ng-value='item') {{::item|translate}}
