.entity-list

  .entity-list-header
    md-toolbar(md-theme='indigo')
      section(layout='vertical' layout-sm='horizontal' layout-align='left center')
        md-button.md-raised(translate='Add' ng-click='add()' aria-label='Add')
    md-toolbar(md-theme='indigo')
      section(layout='vertical' layout-sm='horizontal' layout-align='left center')
        input(type='file' id='importfile')
        md-button.md-raised(translate='Import' ng-click='import($event)' aria-label='::"Import"|translate')
    md-toolbar(md-theme='indigo')
      section(layout='vertical' layout-sm='horizontal' layout-align='left center')
        md-button.md-raised(translate='Export' ng-click='export($event)' aria-label='::"Export"|translate')

  .entity-list-body
    md-content
      entity-table

