.entity-list

  .entity-list-header
    md-toolbar(md-theme='indigo')
      section(layout='vertical' layout-sm='horizontal' layout-align='left center')
        md-button.md-raised(translate='Add' ng-click='showForm($event)' aria-label='Add')

  .entity-list-body
    md-content
      entity-table

