.entity-list

  .entity-list-header
    md-content.toolbar(md-theme='entity')
      section(layout='row' layout-align='left center')
        md-button.md-raised.md-primary(translate='Add' ng-click='add()' aria-label='Add')
        //input(type='file' id='importfile')
        md-button.md-raised.md-primary(translate='Import' ng-click='import($event)' aria-label='::"Import"|translate')
        md-button.md-raised.md-primary(translate='Export' ng-click='export($event)' aria-label='::"Export"|translate')
        md-button.md-raised.md-primary(translate='Search' ng-click='search(search_q)' aria-label='::"Search"|translate')

  .entity-list-body
    md-content
      entity-table

