tr
  td.actions
    a(ng-click='edit()')
      .icon.icon-small.icon-editor-mode-edit
  td(entity-cell='' ng-repeat='field in fields' field='field' row='row')
  td.actions
    a(ng-click='remove()')
      .icon.icon-action-delete

