tr
  td.edit
    a(ng-click='edit()')
      span.icon.icon-editor-mode-edit
  td(entity-cell='' ng-repeat='field in fields' kind='kind' field='field' row='row')
  td.remove
    a(ng-click='cancelRemoving()' ng-if='removing')
      span.icon.icon-content-clear
    a(ng-click='remove()' ng-class='{active:removing}')
      span.icon.icon-action-delete
