tr
  td(entity-cell='' ng-repeat='field in fields' field='field' row='row' schema='schema')
  td.actions
    img(src='/img/icons/ic_description_24px.svg' ng-click='edit()')
    img(src='/img/icons/ic_delete_24px.svg' ng-click='remove()')

