#entity-table-head
  table.head
    thead
      tr
        th.actions
        th(ng-repeat='field in fields' ng-style='field.style')
          span(ng-bind='::field.id|translate')
        th.actions
#entity-table-body
  table.body
    tbody
      tr(ng-repeat='row in rows' entity-row='' fields='fields' row='row' kind='kind')

