.reveal
  -webkit-transition 0.2s linear opacity
  transition 0.2s linear opacity

.reveal.ng-enter
  opacity 0

.reveal.ng-leave
  opacity 1

.reveal.ng-enter.ng-enter-active
  opacity 1

.reveal.ng-leave.ng-leave-active
  opacity 0

.global-progress
  -webkit-transition 0.2s linear opacity
  transition 0.2s linear opacity

.global-progress.ng-enter
  .md-container
    opacity 0

.global-progress.ng-leave
  .md-container
    opacity 1

.global-progress.ng-enter.ng-enter-active
  .md-container
    opacity 1

.global-progress.ng-leave.ng-leave-active
  .md-container
    opacity 0


// Spinner from http://tobiasahlin.com/spinkit/
.spinner
  -webkit-animation rotation 1.0s infinite ease-in-out
  animation rotation 1.0s infinite ease-in-out

@keyframes rotation {
  0% {
    -webkit-transform rotate(0)
  }
  100% {
    -webkit-transform rotate(360deg)
  }
}
