.endpoint-list

  .endpoint-list-header

    .toolbar
      min-height 50px

    .md-button
      padding 0.4em 1em
      margin 0.4em
      font-size 14px

    input[type='file']
      padding-top 0.4em;

  md-list

    md-item-content
      .controls
        padding-right 10px

      md-icon
        width 24px
        height 24px

    md-item-content:hover
      background #eee
      cursor pointer


