.endpoint-list

  .endpoint-list-header
    padding 0.4em 10px

    md-button
      padding 0.4em 1em
      margin 0.4em

  md-list

    md-item-content
      .controls
        padding-right 10px

      md-icon
        width 24px
        height 24px

    md-item-content:hover
      background #eee
      cursor pointer


