.entity-list

  .entity-list-header

    .toolbar
      min-height 50px

      input[type="text"]
        margin 7px 0px 5px 5px

      .md-button
        padding 0.4em 1em
        margin 0.4em
        font-size 14px

      .md-toggle-icon
        font-size 1.5em;

        &:before
          display inline-block
          position relative
          top 4px
          transition transform 0.2s ease-in-out
          -webkit-transition: -webkit-transform 0.2s ease-in-out

      .md-toggle-icon.toggled
        &:before
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);

      .md-whiteframe-z1
        margin 1em
        padding 1em

        md-input-container
          padding 2px 2px 0px

        .schema-form-controls
          padding 1em 0 0

  table
    table-layout fixed
    margin-bottom 0
    width 100%
    border-spacing 0

    thead
      th
        border-bottom 2px solid #eee
        position relative
        
        .icon
          position absolute
          left 90%
          top 50%
          margin -14px
          color #999
          font-size 1.75em
        
        .filter-box
          display none
          position absolute
          background-color #fff
          font-weight normal
          padding 10px 5px
          right 0
          top 2em
          

          p
            margin 0
            text-align center
            border-bottom 2px solid #eee
            
          md-radio-button
            margin 5px 15px;

        .filter-box.is_open
          display block

    th
      padding 6px 8px
      text-align left

    td
      padding 8px 4px
      font-size 0.9em
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      cursor pointer
      
      .preview
        float left

      .icon
        font-size 1.2em
        color #000
        text-decoration none

      input
        width 100%
        line-height inherit
        padding 0
        border none
        background transparent

      .saving
        position relative
        .indicator
          position absolute
          right 0px

      .error
        position relative
        .error-content
          position absolute
          right 0px
          color #d32f2f

    tbody
      tr:hover
        background-color indigo50

    th.remove, td.remove
      width 46px

    th.edit, td.edit
      width 30px

    td.edit
      text-align center
      a
        .icon-editor-mode-edit
          color indigoA100

    td.remove
      text-align center
      position relative
      a
        .icon-action-delete
          color indigo100
        .icon-content-clear
          color grey500
      a.active
        .icon-action-delete
          color indigo500

  #entity-table-body
    overflow-y auto

preview-dialog
  md-content
    text-align center



