.entity-list

  .entity-list-header

    md-toolbar
      padding 0.2em 10px

    md-button
      padding 0.4em 1em
      margin 0.4em
      font-size 0.8em

  table
    table-layout fixed
    margin-bottom 0
    width 100%
    border-spacing 0

    thead
      th
        border-bottom 2px solid #eee

    th
      padding 6px 8px

    td
      padding 8px 4px 10px 8px
      font-size 0.9em

    th
      text-align left

    td
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      cursor pointer

      input
        width 100%
        line-height inherit
        padding 0
        border none
        background transparent

    tbody
      tr:hover
        background-color #eef

    th.actions, td.actions
      width 60px
      padding 6px 5px 0 5px

    td.actions:hover
      background-color transparent

    td.actions
      img:hover
        background #fff
        border-radius 3px

  #entity-table-body
    overflow-y auto
