.entity-list

  .entity-list-header

    md-toolbar
      padding 0.2em 10px

    md-button
      padding 0.4em 1em
      margin 0.4em
      font-size 0.8em

  table
    table-layout fixed
    margin-bottom 0
    width 100%
    border-spacing 0

    thead
      th
        border-bottom 2px solid #eee

    th
      padding 6px 8px
      text-align left

    td
      padding 8px 4px
      font-size 0.9em
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      cursor pointer

      .icon
        font-size 1.2em
        color #000
        text-decoration none

      input
        width 100%
        line-height inherit
        padding 0
        border none
        background transparent

      .saving
        position relative
        .indicator
          position absolute
          right 0px

      .error
        position relative
        .error-content
          position absolute
          right 0px
          color #d32f2f

    tbody
      tr:hover
        background-color indigo50

    th.remove, td.remove
      width 46px

    th.edit, td.edit
      width 30px

    td.edit
      text-align center
      a
        .icon-editor-mode-edit
          color indigoA100

    td.remove
      text-align center
      position relative
      a
        .icon-action-delete
          color indigo100
        .icon-content-clear
          color grey500
      a.active
        .icon-action-delete
          color indigo500

  #entity-table-body
    overflow-y auto
