body
  background #fffdff

.menu-icon
  background-color transparent
  border none

.global-progress
  position absolute
  .container
    top 0px

.selection-list

  material-item-content
    .controls
      padding-right 10px

    material-icon
      width 24px
      height 24px

  material-item-content:hover
    background #eee
    cursor pointer

.selection-list-header
  padding 0.4em 10px

  material-button
    padding 0.4em 1em
    margin 0.4em

