body
  background #fffdff
  overflow hidden

.menu-icon
  background-color transparent
  border none

.global-progress

  md-progress-linear
    position absolute

    .md-container
      top 0px
      z-index 10
