// main
body
  background #fffdff
  overflow hidden

.menu-icon
  background-color transparent
  border none

.global-progress

  md-progress-linear
    position absolute
    height 10px

    .md-container
      top -5px
      z-index 10


