// main
body
  background #fffdff
  overflow hidden

.menu-icon
  background-color transparent
  border none

.global-progress

  md-progress-linear
    position absolute
    height 10px

    .md-container
      top -5px
      z-index 10

.global-progress
  -webkit-transition 0.2s linear opacity
  transition 0.2s linear opacity

.global-progress.ng-enter
  .md-container
    opacity 0

.global-progress.ng-leave
  .md-container
    opacity 1

.global-progress.ng-enter.ng-enter-active
  .md-container
    opacity 1

.global-progress.ng-leave.ng-leave-active
  .md-container
    opacity 0


