.schema-form

  min-width 400px

  padding 0 1em 1em 1em

  legend
    font-size 120%

  .md-input-focused
    input
      border-bottom-color pink500
    label
      color pink500

  schema-input
    display block
    .short
      input
        width 10em
    .long
      input
        width 30em
    .xlong
      input
        width 40em

  md-input-group.short
    input[type='text']
      width 100px

  md-input-group.long
    input[type='text']
      width 300px

  md-input-group.x-long
    input[type='text']
      width 400px

  span.error
    color red900
    font-size 75%
    display block
    position absolute
    padding 0 0 0.4em 0

.schema-form-controls
  padding 1.4em 0 0 0
  md-button
    padding 0.4em 0.6em
    margin-right 0.4em

