.schema-form

  min-width 400px

  padding 0 1em 1em 1em

  legend
    font-size 120%

  .md-input-focused
    input
      border-bottom-color pink500
    label
      color pink500

  schema-input
    display block
    .short
      input
        width 10em
    .long
      input
        width 30em
    .xlong
      input
        width 40em

  schema-item
    .md-whiteframe-z1
      padding 1em;

  span.error
    color red900
    font-size 75%
    display block
    position absolute
    bottom 1em

.schema-form-controls
  padding 1.4em 0 0 0
  md-button
    padding 0.4em 0.6em
    margin-right 0.4em

