.schema-form

  padding 0 1em 1em 1em
  width 40em

  legend
    font-size 120%

  .material-input-focused
    input
      border-color #ee008b
      color #2f2f2f
    label
      color #ee008b

  schema-input
    display block
    .short
      input
        width 10em
    .long
      input
        width 30em
    .xlong
      input
        width 40em

  span.error
    color #900
    font-size 75%
    display block
    position absolute
    padding 0 0 0.4em 0

.schema-form-controls
  material-button
    padding 0.4em 0.6em
    margin-right 0.4em

