.side-content
  z-index 10
  position absolute
  background #fff
  top 0px
  right 0px
  transition 0.1s linear right
  max-width 600px

.side-content.ng-enter
  right -600px

.side-content.ng-leave
  right 0px

.side-content.ng-leave-active
  right -600px
