md-content.endpoint-list

  section.endpoint-list-header(layout='vertical' layout-sm='horizontal' layout-align='left center')
    md-button.md-button-raised(translate='Add' ng-click='showForm($event)')

  md-list
    md-item(ng-repeat='endpoint in endpoints | orderBy:"name" track by $index' ng-click='select($index)')
      md-item-content
        .md-tile-content(ink-ripple='')
          h2(ng-bind='endpoint.name')
          h3(ng-bind='endpoint.url')
        .md-tile-right.controls
          md-button(ng-click='remove($index)')
            md-icon(icon='/img/icons/ic_delete_24px.svg')
            md-tooltip(ng-bind='"Remove"|translate')
      md-divider(ng-if='!$last')
