.endpoint-list

  .endpoint-list-header
    md-content.toolbar(md-theme='endpoint')
      section.endpoint-list-header(layout='row' layout-sm='horizontal' layout-align='left center')
        md-button.md-raised.md-primary(translate='Add' ng-click='showForm($event)' aria-label='::"Add"|translate')

  .endpoint-list-body
    md-list
      md-item(ng-repeat='endpoint in endpoints' ng-click='select($index)')
        md-item-content
          .md-tile-content(ink-ripple='')
            h2(ng-bind='endpoint.name')
            h3(ng-bind='endpoint.url')
            h3(ng-bind='endpoint.boolean')
            h3(ng-bind='endpoint.number')
          .md-tile-right.controls
            md-button(ng-click='remove($index)' aria-label='{{::"Remove"|translate}}')
              .icon.icon-large.icon-action-delete
              md-tooltip(ng-bind='"Remove"|translate')
        md-divider(ng-if='!$last')
