.endpoint-list

  .endpoint-list-header
    md-toolbar(md-theme='indigo')
      section.endpoint-list-header(layout='vertical' layout-sm='horizontal' layout-align='left center')
        md-button.md-raised(translate='Add' ng-click='showForm($event)' aria-label='::"Add"|translate')
    md-toolbar(md-theme='indigo')
      section.endpoint-list-header(layout='vertical' layout-sm='horizontal' layout-align='left center')
        input(type='file' id='importfile')
        md-button.md-raised(translate='Import' ng-click='import($event)' aria-label='::"Import"|translate')

  .endpoint-list-body
    md-list
      div(infinite-scroll='loadMore()' infinite-scroll-distance='2')
        md-item(ng-repeat='endpoint in endpoints | orderBy:"name" track by $index' ng-click='select($index)')
          md-item-content
            .md-tile-content(ink-ripple='')
              h2(ng-bind='endpoint.name')
              h3(ng-bind='endpoint.url')
              h3(ng-bind='endpoint.boolean')
              h3(ng-bind='endpoint.number')
            .md-tile-right.controls
              md-button(ng-click='remove($index)' aria-label='{{::"Remove"|translate}}')
                .icon.icon-large.icon-action-delete
                md-tooltip(ng-bind='"Remove"|translate')
          md-divider(ng-if='!$last')
