material-content.endpoints_list

  section.selection-list-header(layout='vertical' layout-sm='horizontal' layout-align='left center')
    material-button.material-button-raised(translate='Add' ng-click='showForm($event)')

  material-content
    material-list.selection-list
      material-item(ng-repeat='endpoint in endpoints | orderBy:"name" track by $index' ng-click='select($index)')
        material-item-content
          .material-tile-content(ink-ripple='')
            h2(ng-bind='endpoint.name')
            h3(ng-bind='endpoint.url')
          .material-tile-right.controls
            material-button(ng-click='remove($index)')
              material-icon(icon='/img/icons/ic_delete_24px.svg')
              material-tooltip(ng-bind='"Remove"|translate')
        material-divider(ng-if='!$last')
