md-content.entities_list

  section.selection-list-header(layout='vertical' layout-sm='horizontal' layout-align='left center')
    md-button.md-button-raised(translate='Add' ng-click='showForm($event)')

  md-content
    md-list.selection-list
      md-item(ng-repeat='entity in entities' ng-click='select($index)')
        md-item-content
          .md-tile-content(ng-href='test' ink-ripple='')
            ENTITY
          .md-tile-right.controls
            md-button(ng-click='remove($index)')
              md-icon(icon='/img/icons/ic_delete_24px.svg')
              md-tooltip(ng-bind='"Remove"|translate')
        md-divider(ng-if='!$last')

