doctype html
html(ng-app='ngManager')
  head
    title NG-Manager
    link(rel='stylesheet' type='text/css' href='./css/components.css')
    link(rel='stylesheet' type='text/css' href='./css/main.css')
    meta(name='viewport' content='initial-scale=1,maximum-scale=1')
  body(layout='horizontal' ng-controller='IndexCtrl')
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='vertical' component-id='left')
      md-toolbar.md-theme-light
        h1.md-toolbar-tools
          a(href='#/' ng-bind='site.title')
      include ./menu.jade
    div(layout='vertical' layout-fill='' tabindex='1' role='main')
      md-toolbar.md-theme-dark
        div.md-toolbar-tools.content-header
          button.menu-icon(hide-md='' ng-click='toggleMenu()' aria-label='Toggle Menu')
            md-icon(icon='/img/icons/ic_menu_24px.svg')
          h3(ng-if='head.title' ng-bind='head.title.section|translate')
          span.menu-separate-icon(layout='vertical' layout-align='center center' ng-if='head.title.page')
            md-icon(icon='/img/icons/ic_chevron_right_w_24px.svg')
          h3(ng-if='head.title.page' ng-bind='head.title.page|translate')
      .global-progress.reveal(ng-if='progress')
        md-progress-linear(mode='{{progress.mode}}' value='{{progress.value}}')
      div(ng-view='')
    //md-sidenav.md-sidenav-right.md-whiteframe-z2(layout='vertical' component-id='right')

    script(type='text/javascript' src='./js/components.js')
    script(type='text/javascript' src='./js/main.js')
    script(type='text/javascript' src='./js/templates.js')

