md-content(ng-if='config' flex='')
  div
    a.menu-item.menu-title
      span(translate='Entities')
    a.menu-item.menu-sub-item(ng-repeat='entity in config.entities' ng-click='moveTo("entity/"+entity.id)' ink-ripple='')
      span(ng-bind='entity.id|translate')
  div
    a.menu-item.menu-title
      span(translate='Settings')
    a.menu-item.menu-sub-item(ng-click='moveTo("endpoints")' ink-ripple='')
      span(translate='Endpoints')
