md-content(ng-if='config' flex='')
  section
    div.menu-item.menu-title
      a
        span(translate='Entities')
    div.menu-item.menu-sub-item(ng-repeat='entity in config.entities')
      a(href='#/entity/{{entity.id}}' ink-ripple='' ng-class='{active:hash=="#/entity/{{entity.id}}"}')
        span(ng-bind='entity.id|translate')
  section
    div.menu-item.menu-title
      a
        span(translate='Settings')
    div.menu-item.menu-sub-item(ng-click='moveTo("endpoints")')
      a(href='#/endpoints' ink-ripple='' ng-class='{active:hash=="#/endpoints"}')
        span(translate='Endpoints')
